<div class="flex flex-col  snap-mandatory" dir="auto">
    <%= render "layouts/partials/index/section1"%>
    <%= render "layouts/partials/index/section2"%>
    <%= render "layouts/partials/index/section3"%>
    <%= render "layouts/partials/index/section4"%>
</div>
