<div class="flex p-3 h-[90vh] scroll-py-12">
    <div class="flex-1 mx-2 flex flex-col space-y-5">
        <h1 class="text-8xl  font-extrabold select-none">
            Improve your skills to the next level with <span class="underline text-yellow-500">Bright</span>
        </h1>
        <h3 class="text-xl font-medium ">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ducimus minus aut temporibus tenetur facere, fugiat exercitationem nemo, provident magni est ipsam. In voluptates mollitia autem exercitationem iste quis sunt.
        </h3>
        <div class="flex space-x-4">
            <button class="bg-slate-800 mt-20 p-4 text-xl rounded-lg font-semibold text-slate-200"> 
                Get Started
            </button>
            <button class="bg-slate-100 mt-20 p-4 text-xl rounded-lg font-semibold text-slate-800 border-4
            border-black hover:bg-slate-800 hover:text-slate-200 transition duration-300">    
                Support
            </button>
        </div>
    </div>
    <div class="w-[45%] flex flex-col space-y-5">
        <img src="https://images.pexels.com/photos/8364804/pexels-photo-8364804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" class="object-cover rounded-lg h-[40vh]"> 
        <img src="https://images.pexels.com/photos/8364804/pexels-photo-8364804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" class="object-cover rounded-lg h-[40vh]">    
    </div>
</div>