    <div class="bg-slate-300 h-[210vh] py-24 flex flex-col justify-center items-center gap-28 
                md:flex-row lg:flex-row lg:h-[110vh] scroll-my-12">
        <div class="w-80">
            <img 
            class="object-cover h-96 w-96 rounded-lg hidden lg:visible"  
            src="https://images.pexels.com/photos/17941692/pexels-photo-17941692/free-photo-of-pier-on-the-sea.jpeg" alt="">
            <h1 class="text-3xl font-bold mt-5">
                Feature 1
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, magnam error. Quae voluptates molestiae commodi ratione? Possimus provident, deserunt doloribus fugiat mollitia, obcaecati excepturi tempore ipsum ex consequuntur assumenda unde.
            </p>
        </div>
        <div class="w-80">
            <img 
            class="object-cover h-[550px] w-96 rounded-lg hidden lg:visible"  
            src="https://images.pexels.com/photos/17941692/pexels-photo-17941692/free-photo-of-pier-on-the-sea.jpeg" alt="">
            <h1 class="text-3xl font-bold mt-5">
                Feature 2
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, magnam error. Quae voluptates molestiae commodi ratione? Possimus provident, deserunt doloribus fugiat mollitia, obcaecati excepturi tempore ipsum ex consequuntur assumenda unde.
            </p>
        </div>
        <div class="w-80">
            <img 
            class="object-cover h-96 w-96 rounded-lg hidden lg:visible"  
            src="https://images.pexels.com/photos/17941692/pexels-photo-17941692/free-photo-of-pier-on-the-sea.jpeg" alt="">
            <h1 class="text-3xl font-bold mt-5">
                Feature 3
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, magnam error. Quae voluptates molestiae commodi ratione? Possimus provident, deserunt doloribus fugiat mollitia, obcaecati excepturi tempore ipsum ex consequuntur assumenda unde.
            </p>
        </div>
    </div>