<div class="flex flex-col space-y-5 p-5 bg-slate-300 min-h-[40vh] justify-center items-center">
    <div class="flex space-x-4 h-[75px] scroll-my-12">
        <button class="bg-slate-800  p-4 text-xl rounded-lg font-semibold text-slate-200"> 
            Get Started
        </button>
        <button  class="bg-slate-100  p-4 text-xl rounded-lg font-semibold text-slate-800 border-4
        border-black hover:bg-slate-800 hover:text-slate-200 transition duration-300">    
            Support
        </button>
    </div>
    <p class="text-lg text-slate-700">
        Join now, learn new things and teach them!
    </p>
</div>