<div class="flex  h-[110vh] pt-12 scroll-my-12">
    <div class="flex-1">
        <h1 class="text-7xl  font-bold">
            Benefits
        </h1>
        <ul class="ml-8 mx-6  text-blue-400 space-y-5">
            <li class="list-disc mt-5">
                <h1 class="font-bold text-3xl">
                    Benefit 1:
                </h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci ipsa corrupti similique repudiandae qui voluptates, fugiat ullam quis officiis delectus? Cumque ut facere unde, impedit consequatur quibusdam debitis ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci ipsa corrupti similique repudiandae qui voluptates, fugiat ullam quis officiis delectus? Cumque ut facere unde, impedit consequatur quibusdam debitis ratione.
            </li>
            <li class="list-disc">
                <h1 class="font-bold text-3xl">
                    Benefit 2:
                </h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci ipsa corrupti similique repudiandae qui voluptates, fugiat ullam quis officiis delectus? Cumque ut facere unde, impedit consequatur quibusdam debitis ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci ipsa corrupti similique repudiandae qui voluptates, fugiat ullam quis officiis delectus? Cumque ut facere unde, impedit consequatur quibusdam debitis ratione.
            </li>
            <li class="list-disc">
                <h1 class="font-bold text-3xl">
                    Benefit 3:
                </h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci ipsa corrupti similique repudiandae qui voluptates, fugiat ullam quis officiis delectus? Cumque ut facere unde, impedit consequatur quibusdam debitis ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci ipsa corrupti similique repudiandae qui voluptates, fugiat ullam quis officiis delectus? Cumque ut facere unde, impedit consequatur quibusdam debitis ratione.
            </li>
        </ul>
    </div>
    <div class="w-[50%] ">
        <img src="https://images.pexels.com/photos/8364804/pexels-photo-8364804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" class="object-cover rounded-lg h-[90vh] sm:hidden lg:visible"> 
    </div>
</div>